*.egg-info
*.py[co]
*Dockerfile
*~
.*cache
.DS_Store
.circleci
.claude
.coverage*
.env*
.git
.mypy_cache
.picopt_timestamp
.pytest_cache
.ropeproject
.ruff_cache
.venv*
MANIFEST
NEWS
TODO.md
__pycache__
docker-compose*
monkeytype.sqlite3
node_modules
test-results
version.sh
