__pycache__/
__pypackages__/
.cache
.coverage
.coverage.*
.coverage*
.dmypy.json
.DS_Store
.eggs/
.env
.eslintcache
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache
.mypy_cache/
.nox/
.picopt_timestamp
.pypirc
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*~
*$py.class
/site
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   install all needed dependencies.
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
#  Usually these files are written by a python script from a template
# Byte-compiled / optimized / DLL files
# C extensions
# Celery stuff
# comicbox
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# Installer logs
# IPython
# Jupyter Notebook
# mkdocs documentation
# mypy
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
# pipenv
# PyBuilder
# pyenv
# PyInstaller
# Pyre type checker
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
#Pipfile.lock
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
monkeytype.sqlite3
node_modules
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
target/
test-results
var/
venv.bak/
venv/
wheels/
