__pycache__
__pycache__/
__pypackages__
__pypackages__/
__snapshots__
.*cache
.claude
.coverage*
.dmypy.json
.docker-token
.DS_Store
.eggs
.eggs/
.env
.env-*
.eslintcache
.hypothesis
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache
.mypy_cache/
.nox
.nox/
.npm
.pypi-token
.pypirc
.pyre
.pyre/
.pytest_cache
.pytest_cache/
.Python
.python-version
.ropeproject
.ruff_cache
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox
.tox/
.uv-publish-env
.venv*
.webassets-cache
*.cover
*.egg
*.egg-info
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*~
*$py.class
/*.cbr
/*.cbz
build
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
develop-eggs
develop-eggs/
dist
dist/
dmypy.json
docs/_build
docs/_build/
downloads
downloads/
eggs
eggs/
env
ENV
env.bak
env.bak/
env/
ENV/
generate-schema/generated.schema.json
htmlcov
htmlcov/
instance
instance/
ipython_config.py
jspm_packages
jspm_packages/
lib
lib/
lib64
lib64/
local_settings.py
MANIFEST
monkeytype.sqlite3
node_modules
node_modules/
nosetests.xml
parts
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata
pip-wheel-metadata/
profile_default
profile_default/
sdist
sdist/
share/python-wheels
share/python-wheels/
target
target/
test-results
TODO.md
var
var/
venv
venv.bak
venv.bak/
venv/
wheels
wheels/
