__pycache__
.*cache/
.circleci
.git
.venv
*Dockerfile
comicbox/schema_definitions/*Info*.xsd
dist
Dockerfile
node_modules
package-lock.json
schemas/*Info*.xsd
test-results
tests/**/*.json
tests/**/*.xml
tests/**/*.yaml
tests/**/*.yml
uv.lock
