__pycache__
.*cache/
.circleci
.claude
.git
.venv
*Dockerfile
bun.lock
comicbox/schema_definitions/*Info*.xsd
dist
Dockerfile
node_modules
schemas/*Info*.xsd
test-results
tests/**/*.json
tests/**/*.xml
tests/**/*.yaml
tests/**/*.yml
uv.lock
