__pycache__
.*cache
.claude
.git
*.sh
*Dockerfile
bun.lock
comicbox/schemas/*Info*.xsd
dist
node_modules
schemas/*Info*.xsd
tasks
test-results
tests/**/*.json
tests/**/*.xml
tests/**/*.yaml
tests/**/*.yml
uv.lock
