[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = ["poetry.core.masonry.api"]

[tool.poetry]
name = "comicbox"
version = "0.1.7"
description = "An API for reading comic archives"
license = "GPL-2.0-only"
authors = ["AJ Slater <aj@slater.net>"]
readme = "README.md"
homepage = "https://github.com/ajslater/comicbox"
documentation = "https://github.com/ajslater/comicbox"
keywords = ["comic", "cbz", "cbr"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Intended Audience :: Developers",
]
packages = [{ include = "comicbox" }, { include = "tests", format = "sdist" }]
include = ["NEWS"]

[tool.poetry.dependencies]
python = "^3.7"
simplejson = "^3.17"
pycountry = "^20.7.3"
parse = "^1.15"
rarfile = "^4.0"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^3.7"
flake8-black = "^0.2.0"
flake8-bugbear = "^21.9"
coverage = { extras = ["toml"], version = "^6.0" }
pep8-naming = "^0.12.1"
pytest = "^6.0"
pytest-black = "^0.3.10"
pytest-cov = "^3.0"
pytest-flake8 = "^1.0"
pytest-isort = "^2.0"
pytest-monkeytype = "^1.0"
mypy = "^0.910"
monkeytype = "^21.5.0"
vulture = "^2.1"
radon = "^5.1"
# neovim dev env
neovim = "^0.3.1"
jedi = "^0.18.0"

[tool.poetry.scripts]
comicbox = "comicbox.cli:main"

[tool.black]
exclude = "/(.git|__pycache__|.pytest_cache|.venv)/"

[tool.coverage.run]
source = ["comicbox"]
branch = true
concurrency = ["multiprocessing"]

[tool.coverage.html]
directory = "test-results/coverage"

[tool.vulture]
exclude = [".venv"]

[tool.pytest.ini_options]
junit_family = "xunit2"
addopts = """
    --junitxml=test-results/pytest/results.xml
    -ra
    --strict
    --black
    --cov
    --cov-append
    --cov-report=html
    --cov-report=term
    --flake8
    --isort
    --ignore=.venv
"""
#    --mypy
